<html>
	<!-- the api_key below is the Client ID generated for the skillera App defined on LinkedIn -->
	<head>
	  <script type="text/javascript" src="//platform.linkedin.com/in.js">
	    api_key: 783p2ig5pzxacp
	    authorize: false
	    onLoad: onLinkedInLoad
	  </script>
	</head>

	<body>
		<!-- LinkedIn Login Authentication-->
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">LinkedIn Authontication</h4>
		</div>

		<div class="modal-body" id="modal-body">
			<div>
				<script type="in/Login"></script>
			</div>
		</div>

<!-- 		<div class="modal-footer">
		    <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">Close</button>
		</div> -->
	</body>
</html>