<!-- the api_key below is the Client ID generated for the skillera App defined on LinkedIn -->
<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 77vb60agfyeifk
	onLoad: onLinkedInLoad
	authorize: true
</script>

<!-- LinkedIn Login Authentication-->
<div class="modal-header">
	<h4 class="modal-title" id="modal-title">LinkedIn Authontication</h4>
</div>

<div class="modal-body" id="modal-body">
	<div>
		<script type="in/Login"></script>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">Close</button>
</div>
