<!--auditions.html-->
<script type="text/javascript" src=".API/base64.js"></script>
<script type="text/javascript" src=".API/AuditionItemApi.js"></script>

<script src=".API/lib/react/react-15.0.0.js"></script>
<script src=".API/lib/react/react-dom-15.0.0.js"></script>
<script src=".API/lib/react/browser.min.js"></script>

<script type="text/javascript" src="/challengesTemplates/57f7a8406f903fc2b6aae39a/js/MultipleChoiceSimpleCtrl.js"></script>
<script type="text/javascript" src="/challengesTemplates/57f7a8406f903fc2b6aae39a/jsx/MultipleChoiceSimple.js"></script>
<script type="text/javascript" src="/challengesTemplates/57f7a8406f903fc2b6aae49a/js/MultipleChoiceCtrl.js"></script>
<script type="text/javascript" src="/challengesTemplates/57f7a8406f903fc2b6aae49a/jsx/MultipleChoice.js"></script>
<script type="text/javascript" src="/challengesTemplates/5c2f4e13098ebc4684cacdf9/js/LikertCtrl.js"></script>
<script type="text/javascript" src="/challengesTemplates/5c2f4e13098ebc4684cacdf9/jsx/Likert.js"></script>
<script type="text/javascript" src="/challengesTemplates/5814b536e288e1a685c7a451/js/TrueFalseCtrl.js"></script>
<script type="text/javascript" src="/challengesTemplates/5814b536e288e1a685c7a451/jsx/TrueFalse.js"></script>


<div class="heightWidth100" ui-view></div>

