<!--auditionMain.html-->
<!--suppress HtmlUnknownTarget -->
<!-- Temp coming soon message -->
<br>
<br>
<br>
<br>
<div class="col-md-4"></div>
<div>
    <img src="/images/coming-soon.jpg"/>
</div>

<!-- <div class="row" ng-show="vm.isRecruiter()">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a ng-if="vm.selectedStatus" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span ng-class="vm.MAP.CAMPAIGN_STATUS[vm.selectedStatus]">&nbsp;</span>{{vm.ENUM.CAMPAIGN_STATUS[vm.selectedStatus]}} <b class="caret"></b></a>
                        <a ng-if="!vm.selectedStatus" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">All <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="vm.changeSelectedStatus()">All ...</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="(key, status) in vm.ENUM.CAMPAIGN_STATUS">
                                <a ng-click="vm.changeSelectedStatus(key)"><span ng-class="vm.MAP.CAMPAIGN_STATUS[key]">&nbsp;</span>{{status}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="vm.query">
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-default" type="button" ng-click="vm.setViewThumbnails()"><span class="glyphicon glyphicon-th"></span> Thumbnail view</button>
                            <button class="btn btn-default" type="button" ng-click="vm.setViewList()"><span class="glyphicon glyphicon-th-list"></span> List view</button>
                        </div>
                    </div>
                </form>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        Sort by:
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-default" type="button" ng-click="vm.setSort('positionName')">
                                <span ng-class="vm.getSort('title')"></span>
                                Name
                            </button>
                            <button class="btn btn-default" type="button" ng-click="vm.setSort('control.createDate')">
                                <span ng-class="vm.getSort('control.createDate')"></span>
                                Date
                            </button>
                            <button class="btn btn-default" type="button" ng-click="vm.setSort('status')">
                                <span ng-class="vm.getSort('status')"></span>
                                Status
                            </button>
                        </div>
                    </div>
                </form> -->
                <!-- Start of original comment -->
                <!-- <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" ui-sref="recruiter.recruiterDemand">Create New Campaign</button>
                    </div>
                </form> -->
                <!-- End of origial comment-->
            <!-- </div>
        </nav>
    </div>
</div> -->
<!-- <div class="row" ng-show="vm.isViewThumbnails">
    <div class="col-md-3" ng-repeat="audition in vm.auditions | filter:vm.search | orderBy: vm.orderBy">
        <div class="thumbnail">
            <div class="big-status" ng-if="audition.status === vm.ENUM.CAMPAIGN_STATUS.DELETE"><span ng-class="vm.MAP.CAMPAIGN_STATUS.DELETE">&nbsp;</span>{{audition.status}}</div>
            <div class="big-status" ng-if="audition.status === vm.ENUM.CAMPAIGN_STATUS.DISPATCHED"><span ng-class="vm.MAP.CAMPAIGN_STATUS.DISPATCHED">&nbsp;</span>{{audition.status}}</div>
            <div class="big-status" ng-if="audition.status === vm.ENUM.CAMPAIGN_STATUS.IN_WORK"><span ng-class="vm.MAP.CAMPAIGN_STATUS.IN_WORK">&nbsp;</span>{{audition.status}}</div>
            <div class="big-status" ng-if="audition.status === vm.ENUM.CAMPAIGN_STATUS.CLOSED"><span ng-class="vm.MAP.CAMPAIGN_STATUS.CLOSED">&nbsp;</span>{{audition.status}}</div>
            <div class="big-status" ng-if="audition.status === vm.ENUM.CAMPAIGN_STATUS.VERIFIED"><span ng-class="vm.MAP.CAMPAIGN_STATUS.VERIFIED">&nbsp;</span>{{audition.status}}</div>
            <div class="caption">
                <h3 class="job-positionName">[{{audition.num}}]</h3>
                <h3 class="job-positionName">{{audition.positionName}}</h3>
                <p class="job-description">{{audition.description}}</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100% Complete (success)
                    </div>
                </div>
                <p>
                    <a ng-if="audition.status !== vm.ENUM.CAMPAIGN_STATUS.DELETE" class="btn btn-primary" ui-sref="auditions.execute({auditionId:audition._id})"><span ng-class="vm.MAP.BUTTONS.EDIT">&nbsp;</span>Run</a>
                    <a ng-if="audition.status === vm.ENUM.CAMPAIGN_STATUS.DELETE" class="btn btn-primary" disabled><span ng-class="vm.MAP.BUTTONS.SAVE">&nbsp;</span>Edit</a>
                    <a ng-if="audition.status !== vm.ENUM.CAMPAIGN_STATUS.DELETE" class="btn" ng-click="vm.deleteCampaign(audition)"><span ng-class="vm.MAP.BUTTONS.DELETE">&nbsp;</span>Delete</a>
                    <a ng-if="audition.status === vm.ENUM.CAMPAIGN_STATUS.DELETE" class="btn btn-primary" ng-click="vm.undeleteCampaign(audition)" ><span ng-class="vm.MAP.BUTTONS.UNDELETE">&nbsp;</span>Undelete</a>
                </p>

            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row" ng-hide="vm.isViewThumbnails">
    <div class="panel-group col-md-12" id="panel-auditions-group">
        <div class="panel panel-default" ng-repeat="audition in vm.auditions | filter:vm.search">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-auditions-group" href="#panel-element-{{$index}}"  aria-expanded="false">
                    <div class="row">
                        <div class="col-md-1">
                            <h4>[{{audition.num}}]</h4>
                        </div>
                        <div class="col-md-3">
                            <h3>{{audition.positionName}}</h3>
                        </div>
                        <div class="col-md-6">
                            {{audition.description}}
                        </div>
                        <div class="col-md-2">
                            <p><a class="btn btn-primary" ui-sref="recruiter.recruiterDemand({id:audition._id})">Edit</a> <a class="btn" ng-click="vm.deleteCampaign(audition)">Delete</a></p>
                        </div>

                    </div>
                </a>
            </div>
            <div id="panel-element-{{$index}}" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body" >
                    <div class="col-md-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                100% Complete (success)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
