<!-- talentSignUp.html -->

<!-- <div class="container margintop"> -->
<form class="row" id="talentSignUp" name="talentSignUp" novalidate>

        <!-- The signUp information Header -->
        <div class="row">
                <div class="col-md-0-6"></div>
                <div class="col-md-11">
                    <div class="process">
                        <div class="process-row nav nav-tabs">
                            <!-- User Tab -->
                            <div class="process-step">
                                <button type="button" class="btn-info btn-circle-tab" data-toggle="tab" href="#menu1"><i class="fa fa-user fa-3x"></i></button>
                                <p>User</p>
                            </div>
                            <!-- Talent Tab -->
                            <div class="process-step">
                                <button  type="button" class="btn-default btn-circle-tab" data-toggle="tab" href="#menu2"><i class="fa fa-clipboard fa-3x"></i></button>
                                <p>Talent</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-0-6"></div>
            </div>


            <!-- The signUp tabs' content -->
            <div class="row">
            <div class="col-md-0-6"></div>
            <div class="col-md-11">
                <div class="tab-content">
                    <!-- User Tab -->
                    <div id="menu1" class="tab-pane fade active in">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="sectionHeader"><strong><span class="fa fa-user fa-1x"></span>&nbsp;User Profile</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                    <!-- User Name -->
                                    <div class="form-group">
                                            <label for="inputTalentUserName" class="required">User Name</label>
                                            <input  type="text" 
                                                    ng-model="vm.newTalentRegister.name" 
                                                    ng-blur="vm.checkUserName(vm.newTalentRegister.name)" 
                                                    name="userName"
                                                    class="form-control " 
                                                    placeholder="" 
                                                    required>
                                            <span class="error-msg" ng-show="talentSignUp.$submitted && talentSignUp.company.$error.required">User Name is required</span>
                                    </div>
                                    <!-- Email -->
                                    <div class="form-group">
                                            <label for="inputTalentEmail" class="required">Email</label>
                                            <input type="email"
                                                    ng-model="vm.newTalentRegister.email"
                                                    name="email"
                                                    class="form-control"
                                                    ng-blur="vm.checkEmail(vm.newTalentRegister.email)"
                                                    placeholder="your@email.addr"
                                                    ng-change="onEmailUpdate()"
                                                    required>
                                            <span class="error-msg" ng-show="talentSignUp.$submitted && talentSignUp.email.$error.required">Email is required</span>
                                            <span class="error-msg" ng-show="talentSignUp.email.$error.email">Invalid Email address</span>
                                    </div>
                                    <!-- Password -->
                                    <div class="form-group">
                                            <label for="inputTalentPass" class="required">Password</label>
                                            <input type="password"
                                                    name="pass1"
                                                    ng-model="vm.newTalentRegister.pass1"
                                                    class="form-control "
                                                    placeholder=""
                                                    required>
                                            <span class="error-msg" ng-show="talentSignUp.$submitted && talentSignUp.pass1.$error.required">Password is required</span>
                                    </div>
                                    <!-- Password Confirm -->
                                    <div class="form-group">
                                            <label for="inputTalentPassConf" class="required">Confirm Password</label>
                                            <input type="password"
                                                    name="pass2"
                                                    ng-model="vm.newTalentRegister.pass2"
                                                    class="form-control "
                                                    placeholder=""
                                                    required>
                                            <span class="error-msg" ng-show="talentSignUp.$submitted && talentSignUp.pass1.$error.required">Password is required</span>
                                            <span class="error-msg" ng-show="vm.newTalentRegister.pass1 !== vm.newTalentRegister.pass2">Passwords do not match</span>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-0-6"></div>
                                <div class="col-md-3">
                                        <!-- First Name -->
                                        <div class="form-group">
                                                <label for="inputTalentFirstName" class="required">First Name</label>
                                                <input type="text" 
                                                        ng-model="vm.newTalentRegister.profile.firstName" 
                                                        name="firstName"
                                                        class="form-control " 
                                                        placeholder="" 
                                                        required>
                                                <span class="error-msg" ng-show="talentSignUp.$submitted && talentSignUp.fName.$error.required">First name is required</span>
                                        </div>
                                                
                                        <!-- Last Name -->
                                        <div class="form-group">
                                                <label for="inputTalentLasttName" class="required">Last Name</label>
                                                <input type="text" 
                                                        ng-model="vm.newTalentRegister.profile.lastName" 
                                                        name="firstName"
                                                        class="form-control " 
                                                        placeholder="" 
                                                        required>
                                                <span class="error-msg" ng-show="talentSignUp.$submitted && talentSignUp.lName.$error.required">Last name is required</span>
                                        </div>
                                        <!-- Address Street -->
                                        <div class="form-group">
                                                <label for="inputTalentFirstName">Street</label>
                                                <input type="text" 
                                                        ng-model="vm.newTalentRegister.profile.street" 
                                                        name="street"
                                                        class="form-control " 
                                                        placeholder="" 
                                                        required>
                                        </div>
                                        <!-- Address City -->
                                        <div class="form-group">
                                                <label for="inputTalentFirstName">City</label>
                                                <input type="text" 
                                                        ng-model="vm.newTalentRegister.profile.city" 
                                                        name="city"
                                                        class="form-control " 
                                                        placeholder="" 
                                                        required>
                                        </div>
                                        <!-- Address Country -->
                                        <div class="form-group">
                                                <label for="inputTalentFirstName">Country</label>
                                                <input type="text" 
                                                        ng-model="vm.newTalentRegister.profile.country" 
                                                        name="country"
                                                        class="form-control " 
                                                        placeholder="" 
                                                        required>
                                        </div>                                
                                    </div>

                        </div>
                    </div>

                    <!-- Talent Tab -->
                    <div id="menu2" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="sectionHeader"><strong><span class="fa fa-clipboard fa-1x"></span>&nbsp;Talent Profile</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                    <!-- Contact Email -->
                                    <div class="form-group">
                                            <label for="inputTalentContactEmail">Contact Email</label>
                                            <input  type="email" 
                                                    ng-model="vm.newTalentRegister.profile.contactEmail" 
                                                    name="contactEmail"
                                                    class="form-control " 
                                                    placeholder="your@email.addr" 
                                                    required>
                                    </div>
                                    <!-- Contact Phone -->
                                    <div class="form-group">
                                            <label for="inputTalentPhone">Contact Phone</label>
                                            <input type="text"
                                                    ui-mask="(999) 999-9999"
                                                    ui-mask-placeholder
                                                    ui-mask-placeholder-char="_"
                                                    ng-model="vm.newTalentRegister.profile.contactPhone"
                                                    name="phoneNumber"
                                                    class="form-control "
                                                    placeholder="">
                                    </div>
                                    <!-- Receive Other Job Offering -->
                                    <div class="form-group">
                                            <label>Receive Job Offering</label>
                                            <input type="radio"
                                                    value = "Yes"
                                                    ng-model="vm.newTalentRegister.profile.receiveJobOffer"
                                                    checked>
                                            Yes
                                            <input type="radio"
                                                    value = "No"
                                                    ng-model="vm.newTalentRegister.profile.receiveJobOffer">
                                            No
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-0-6"></div>
                                
                                <div class="col-md-3">
                                    <!-- Expertize category -->
                                    <div class="form-group">
                                            <label for="inputTalentExpertizeCategory">Expertize Category</label>
                                            <input type="text" 
                                                    ng-model="vm.newTalentRegister.profile.expertizeCategory" 
                                                    name="expertiseCategory"
                                                    class="form-control " 
                                                    placeholder="" 
                                                    required>
                                    </div>
                                    <!-- Expertize sub category -->
                                    <div class="form-group">
                                            <label for="inputTalentExpertizeSubCategory">Expertize Sub Category</label>
                                            <input type="text" 
                                                    ng-model="vm.newTalentRegister.profile.expertizeSubCategory" 
                                                    name="expertiseSubCategory"
                                                    class="form-control " 
                                                    placeholder="" 
                                                    required>
                                    </div>
                                    <!-- Skills -->
                                    <div class="form-group">
                                            <label for="inputTalentSkill1">Skill 1</label>
                                            <input type="text" 
                                                    ng-model="vm.newTalentRegister.profile.skill1" 
                                                    name="skill1"
                                                    class="form-control " 
                                                    placeholder="" 
                                                    required>
                                                    
                                    </div>
                                    <div class="form-group">
                                            <label for="inputTalentSkill2">Skill 2</label>
                                            <input type="text" 
                                                    ng-model="vm.newTalentRegister.profile.skill2" 
                                                    name="skill2"
                                                    class="form-control " 
                                                    placeholder="" 
                                                    required>
                                                    
                                    </div>
                                    <div class="form-group">
                                            <label for="inputTalentSkill1">Skill 3</label>
                                            <input type="text" 
                                                    ng-model="vm.newTalentRegister.profile.skill3" 
                                                    name="skill3"
                                                    class="form-control " 
                                                    placeholder="" 
                                                    required>
                                                    
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>

    <div class="sign-up-footer col-md-12">
        <div>
            <fieldset form="termsAndCond">
                <!-- Terms -->
                <input type="checkbox" ng-model="vm.newTalentRegister.legal" name="legal" required>
                <label class="checkbox-terms"><a href='#' ng-click = "vm.displayLegal('lg')">I've read and accept the terms and conditions</a></label>
                <span class="error-msg" ng-show="!vm.newTalentRegister.legal && talentSignUp.$submitted">You must accept the terms and conditions</span>
            </fieldset>
        </div>
        <br>

        <div style="text-align:center" class="col-md-12">
            <button type="submit" ng-click="vm.register()" class="btn btn-primary">Save & Continue</button>
        </div>
    </div>

    <div ng-show="vm.error" class="row" >
        <p>{{ vm.error }}</p>
    </div>

</form>

