<script src="js/Dropbox-sdk.js"></script>

<form class="row" id="talentRegistration" name="talentRegistration" novalidate>
    <!-- The signUp information Header -->
    <div class="row">
        <div class="col-md-0-6"></div>
        <div class="col-md-11">
            <div class="process">
                <div class="process-row nav nav-tabs">
                    <!-- User Tab -->
                    <div class="process-step">
                            <button type="button" class="btn-info btn-circle-tab" data-toggle="tab" href="#menu1"><i class="fa fa-user fa-3x"></i></button>
                            <p>User</p>
                    </div>
                    <!-- Talent Tab -->
                    <div class="process-step">
                            <button  type="button" class="btn-default btn-circle-tab" data-toggle="tab" href="#menu2"><i class="fa fa-address-card fa-3x"></i></button>
                            <p>Personal</p>
                    </div>
                    <!-- Credentials Tab -->
                    <div class="process-step">
                            <button  type="button" class="btn-default btn-circle-tab" data-toggle="tab" href="#menu3"><i class="fa fa-clipboard fa-3x"></i></button>
                            <p>Expertise</p>
                    </div>
                    <!-- Setting Tab -->
                    <div class="process-step">
                            <button  type="button" class="btn-default btn-circle-tab" data-toggle="tab" href="#menu4"><i class="fa fa-cog fa-3x"></i></button>
                            <p>Setting</p>
                    </div>
                    <!-- Account Tab -->
                    <div class="process-step">
                        <button  type="button" class="btn-default btn-circle-tab" data-toggle="tab" href="#menu5"><i class="fa fa-briefcase fa-3x"></i></button>
                        <p>Account</p>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-0-6"></div>
    </div>

    <div class="row col-md-12">            
                <div style="text-align:center">                       
                                <label>User profile type :</label>
                                <!-- <form> -->
                                        <input type="checkbox" id="talentType" ng-model="vm.talentRegistration.profileTypeTalent">
                                        &nbsp;&nbsp;
                                        <label for="talentType">Talent profile</label>
                                        <input type="checkbox" id="domainExpertType" ng-model="vm.talentRegistration.profileTypeDomainExpert">
                                        &nbsp;&nbsp;
                                        <label for="domainExpertType">Domain Expert profile</label>
                                <!-- </form> -->
                </div>               
     </div>


    <!-- The tabs' content -->
    <div class="row">
        <div class="col-md-0-6"></div>
        <div class="col-md-11">
            <div class="tab-content">
                <!-- User Tab -->
                <div id="menu1" class="tab-pane fade active in">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="sectionHeader"><strong><span class="fa fa-user fa-1x"></span>&nbsp;User Profile</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <!-- User Name -->
                            <div class="form-group">
                                <label for="inputTalentUserName" class="required">User Name</label>
                                <input type="text" 
                                        ng-model="vm.talentRegistration.username"
                                        name="userName"
                                        class="form-control " 
                                        placeholder=""
                                        readonly 
                                        required>
                            </div>
                            <!-- Email -->
                            <div class="form-group">
                                <label for="inputTalentEmail" class="required">Email</label>
                                <input type="email"
                                        ng-model="vm.talentRegistration.email"
                                        name="email"
                                        class="form-control"
                                        readonly
                                        required>
                            </div>
                            <!-- Password -->
                            <div class="form-group">
                                <label for="userAdminPass">Password</label>
                                <div>
                                    <div class="row">
                                        <input  type="password"
                                                ng-model="vm.userPasswordNew"
                                                name="userPassNew"
                                                class="form-control company-code-field"
                                                placeholder="New Password"
                                                ng-disabled = "!vm.setPassword">
                                                <button ng-click="vm.setUserPassword()" class="btn btn-sm btn-info company-code-button" ng-show="!vm.setPassword" type="button">Change</button>
                                                <!-- Confirm password -->
                                        <input  type="password"
                                                ng-model="vm.userPasswordConf"
                                                name="userPassConf"
                                                placeholder="Confirm new Password"
                                                ng-show="vm.setPassword"
                                                ng-class="{'company-code-field' : vm.setPassword}"
                                                class="form-control"
                                                required>
                                        <span class="error-msg" ng-show="(vm.userPasswordNew !== vm.userPasswordConf) && vm.setPassword">Passwords do not match</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-0-6"></div>
                        <div class="col-md-3">
                            <!-- First Name -->
                            <div class="form-group">
                                    <label for="talentFirstName" class="required">First Name</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.firstName" 
                                            name="firstName"
                                            class="form-control " 
                                            placeholder="" 
                                            required>
                                    <span class="error-msg" ng-show="talentRegistration.$submitted && talentRegistration.firstName.$error.required">First name is required</span>
                            </div>
                                            
                            <!-- Last Name -->
                            <div class="form-group">
                                    <label for="talentLasttName" class="required">Last Name</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.lastName" 
                                            name="lastName"
                                            class="form-control " 
                                            placeholder="" 
                                            required>
                                    <span class="error-msg" ng-show="talentRegistration.$submitted && talentRegistration.lastName.$error.required">Last name is required</span>
                            </div>

                        
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-0-6"></div>
                        <div class="col-md-3">
                            <!-- Contact Email -->
                            <div class="form-group">
                                    <label for="talentContactEmail">Contact Email</label>
                                    <input  type="email" 
                                            ng-model="vm.talentRegistration.contactEmail" 
                                            name="contactEmail"
                                            class="form-control"  
                                            >
                            </div>

                            <!-- Contact Phone -->
                            <div class="form-group">
                                    <label for="talentPhone">Contact Phone</label>
                                    <input type="text"
                                            ui-mask="(999) 999-9999"
                                            ui-mask-placeholder
                                            ui-mask-placeholder-char="_"
                                            ng-model="vm.talentRegistration.contactPhone"
                                            name="phoneNumber"
                                            class="form-control "
                                            placeholder="">
                            </div>      
                        </div>
                    </div>
                </div>
                <!-- Personal Tab -->
                <div id="menu2" class="tab-pane fade">
                    <div class="row">
                            <div class="col-md-12">
                                <h4 class="sectionHeader"><strong><span class="fa fa-address-card fa-1x"></span>&nbsp;Personal Profile</strong></h4>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
    
                            <!-- Country -->

                            <div class="form-group">
                                <label for="talentCountry">Country</label>
                                <select ng-model="vm.talentRegistration.country" 
                                        name="country"
                                        ng-change="vm.selectCities(vm.talentRegistration.country)"
                                        class="form-control ">
                                        <option ng-repeat="country in vm.countriesArray">{{country}}</option>
                                </select>
                            </div>

                            <!-- City  -->
                            <div class="form-group">
                                <label for="talentCity">City</label>
                                <select ng-model="vm.talentRegistration.city" 
                                        name="city"
                                        class="form-control ">
                                        <option ng-repeat="city in vm.citiesArray">{{city}}</option>
                                </select>
                            </div>   
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-0-6"></div>
                        <div class="col-md-3">
                            <!-- Date of Birth -->
                            <div class="form-group">
                                    <label  for="talentDOB">Date of Birth</label>
                                    <input class=" form-control"
                                            type="date"
                                            id="endofDate"
                                            name="endofDate"
                                            ng-model="vm.talentRegistration.birthDate">
                            </div>

                            <!-- Gender -->
                            <div class="form-group">
                                    <label>Gender</label>
                                    <input type="radio"
                                            value = "Male"
                                            ng-model="vm.talentRegistration.gender">
                                    Male
                                    <input type="radio"
                                            value = "Female"
                                            ng-model="vm.talentRegistration.gender">
                                    Female
                            </div>
                            <!-- Language -->
                            <div class="form-group">
                                <label for="talentLanguage">Language</label>
                                <select ng-model="vm.talentRegistration.language" 
                                        name="language"
                                        class="form-control ">
                                        <option ng-repeat="language in vm.languages">{{language}}</option>
                                </select>
                        </div>
                            <!-- Picture -->
                            <div class="form-group">
                                    <label for="talentPictureURL">Picture</label>
                                    <input type="file"
                                           class="form-control" 
                                           onchange="loadPic(event)">
                                    <span id="uploadProgress"></span>
                                    <img id="viewPic" class="view-logo">       
                            </div>

                            

                        
                        </div>
                    </div>
                </div>

                <!-- Expertise Tab -->
                <div id="menu3" class="tab-pane fade">
                    <div class="row">
                            <div class="col-md-12">
                                <h4 class="sectionHeader"><strong><span class="fa fa-clipboard fa-1x"></span>&nbsp;Expertise</strong></h4>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <!-- Profession -->
                                <div class="form-group">
                                        <label for="talentProfession">Profession</label>
                                        <input type="text" 
                                                ng-model="vm.talentRegistration.profession" 
                                                name="profession"
                                                uib-typeahead="profession for profession in vm.professions | filter:$viewValue"
                                                class="form-control " 
                                                placeholder="Your profession (Ex. Programmer)" 
                                                >
                                </div>

                                <!-- Expertise category -->
                                <div class="form-group">
                                    <label for="talentExpertizeCategory">Expertise Category</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.expertizeCategory" 
                                            name="expertiseCategory"
                                            uib-typeahead="expertise for expertise in vm.expertise | filter:$viewValue"
                                            class="form-control " 
                                            placeholder="Your expertize category (Ex. Telecom)" 
                                            >
                                </div>

                                <!-- Expertize sub category -->
                                <div class="form-group">
                                    <label for="talentExpertizeSubCategory">Expertise Sub Category</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.expertizeSubCategory" 
                                            class="form-control" 
                                            placeholder="Your specific expertize (ex. Mobile etc.)" 
                                            >
                                </div>
                                <!-- Linkedin profile -->
                                <div class="form-group">
                                        <label for="talentLinkedinProfile">Linkedin Profile</label>
                                        <input type="text" 
                                                ng-model="vm.talentRegistration.linkedin" 
                                                name="linkedin"
                                                class="form-control " 
                                                placeholder="" 
                                                >
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-0-6"></div>
                            <div class="col-md-3">
                                <!-- Skills -->                              
                                <div class="form-group">
                                    <label for="talentSkill1">Skill</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.skill1" 
                                            name="skill1"
                                            uib-typeahead="skill for skill in vm.skills | filter:$viewValue"
                                            class="form-control " 
                                            placeholder="Your skill (ex. Jave)" 
                                            >                                                    
                                </div>

                                <div class="form-group">
                                    <label for="talentSkill2">Skill</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.skill2" 
                                            name="skill2"
                                            uib-typeahead="skill for skill in vm.skills | filter:$viewValue"
                                            class="form-control " 
                                            placeholder="Your skill (ex. Automatic Testing)" 
                                            >
                                                    
                                </div>

                                <div class="form-group">
                                    <label for="talentSkill1">Skill</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.skill3" 
                                            name="skill3"
                                            uib-typeahead="skill for skill in vm.skills | filter:$viewValue"
                                            class="form-control " 
                                            placeholder="Your skill (ex. HTML)" 
                                            >
                                                    
                                </div>
                                <div class="form-group">
                                    <label for="talentSkill1">Skill</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.skill4" 
                                            name="skill4"
                                            uib-typeahead="skill for skill in vm.skills | filter:$viewValue"
                                            class="form-control " 
                                            placeholder="Your skill (ex. Accounting)" 
                                            >
                                                        
                                </div>
                                <div class="form-group">
                                    <label for="talentSkill1">Skill</label>
                                    <input type="text" 
                                            ng-model="vm.talentRegistration.skill5" 
                                            name="skill5"
                                            uib-typeahead="skill for skill in vm.skills | filter:$viewValue"
                                            class="form-control " 
                                            placeholder="Your skill (ex. Graphic Design)" 
                                            >
                                                        
                                </div>
                            </div>
                    </div>

                </div>

                <!-- Expertise Tab -->
                <div id="menu4" class="tab-pane fade">
                        <div class="row">
                                <div class="col-md-12">
                                    <h4 class="sectionHeader"><strong><span class="fa fa-cog fa-1x"></span>&nbsp;Setting</strong></h4>
                                </div>
                        </div>

                        <div class="row">
                                <div class="col-md-6">

                                        <!-- Receive Other Job Offering -->
                                        <div class="form-group row">
                                                <div class="col-md-6">
                                                        <label id="tooltip" data-toggle="tooltip" title="Do you want to receive Job offers from Skillera?">Receive Job Offering</label>
                                                </div>
                                                <div class="col-md-6">
                                                        <input type="radio"
                                                                value = "true"
                                                                ng-model="vm.talentRegistration.receiveJobOfferView"
                                                                checked>
                                                        Yes
                                                        <input type="radio"
                                                                value = "false"
                                                                ng-model="vm.talentRegistration.receiveJobOfferView">
                                                        No
                                                </div>
                                        </div>

                                        <!-- Share contact -->
                                        <div class="form-group row">
                                                <div class="col-md-6">
                                                        <label id="tooltip" data-toggle="tooltip" title="Can Skillera share your information with other recruiters?">Share Contact</label>
                                                </div>
                                                <div class="col-md-6">
                                                        <input type="radio"
                                                                value = "true"
                                                                ng-model="vm.talentRegistration.shareContactView"
                                                                checked>
                                                        Yes
                                                        <input type="radio"
                                                                        value = "false"
                                                                        ng-model="vm.talentRegistration.shareContactView">
                                                        No
                                                </div>
                                        </div>

                                        <!-- Discrete Ind -->
                                        <div class="form-group row">
                                                <div class="col-md-6">        
                                                        <label id="tooltip" data-toggle="tooltip" title="Do you want to keep your information descrete when applying to jobs?">Discrete Indicator</label>
                                                </div>
                                                <div class="col-md-6">
                                                        <input type="radio"
                                                                value = "true"
                                                                ng-model="vm.talentRegistration.discreetIndView"
                                                                checked>
                                                        Yes
                                                        <input type="radio"
                                                                        value = "false"
                                                                        ng-model="vm.talentRegistration.discreetIndView">
                                                        No
                                                </div>
                                        </div>
                                </div>
                        </div>

                </div>

                <!-- Account Tab -->
                <div id="menu5" class="tab-pane fade">
                                <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="sectionHeader"><strong><span class="fa fa-briefcase fa-1x"></span>&nbsp;Account</strong></h4>
                                        </div>
                                </div>
                                <div class="row">
                                                <h4 class="recruiter-signUp-titel">Talent Account feature is comming soon...</h4>
                                </div>
                </div>

            </div>
            <br>
            <div class="submit-footer">
                <button type="submit" ng-click="vm.updateTalent()" class="btn btn-primary">Save</button>
                <button type="button" ng-click="vm.cancelTalent()" class="btn btn-primary">Cancel</button>
            </div>
        </div>
        <div class="col-md-0-6"></div>
    </div>
    <div ng-show="vm.error" class="row" >
        <p>{{ vm.error }}</p>
    </div>
</form>