<!--applicatioMain.html-->
<div class="row">
  <div class="col-md-0-6"></div>
    <div class="col-md-11">
      <div class="col-md-12">
      <div class="form-group summary-formating-right" ng-show="vm.accessMode === 'Application'">
        <h5>
          <strong>[{{vm.campaign.num}}</strong>&nbsp;-&nbsp;<strong>{{vm.campaign.positionName}}]</strong>&nbsp;&nbsp;
          <span class="campaign-criteria">Minimum Grade:{{vm.campaign.minScore}}&nbsp;&nbsp;
          Top Applicants:{{vm.campaign.topApplicant}}</span>&nbsp;&nbsp;
          <span class="campaign-actual">Pass:{{vm.applicantPassMinScore}}&nbsp;&nbsp;Revealed:{{vm.campaign.revealedApplicants}}</span>
        </h5>
      </div>
      <div class="form-group summary-formating-right" ng-show="vm.accessMode !== 'Application'">
        <h5>
          <a ui-sref="recruiter.recruiterDemand({id:vm.campaignId})"><strong>[{{vm.campaign.num}}</strong></a>&nbsp;-&nbsp;
          <a ui-sref="recruiter.recruiterDemand({id:vm.campaignId})"><strong>{{vm.campaign.positionName}}]</strong></a>&nbsp;&nbsp;&nbsp;
          <span class="campaign-criteria"> Minimum Grade:{{vm.campaign.minScore}}&nbsp;&nbsp;
          Top Applicants:{{vm.campaign.topApplicant}}</span>&nbsp;&nbsp;
          <span class="campaign-actual"> Pass:{{vm.applicantPassMinScore}}&nbsp;&nbsp;
          Revealed:{{vm.campaign.revealedApplicants}}</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="col-md-0-6"></div>
</div>

<div class="row">
  <div class="col-md-0-6"></div>
  <div class="col-md-11">
    <div class="row" ng-show="vm.isRecruiter()">
      <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a ng-if="vm.selectedFilter" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span>&nbsp;</span>{{vm.ENUM.APPLICATION_FILTER[vm.selectedFilter]}} <b class="caret"></b></a>
                  <a ng-if="!vm.selectedFilter" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">All<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="(key, status) in vm.ENUM.APPLICATION_FILTER"><a ng-click="vm.changeSelectedFilter(key)">{{status}}</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="vm.changeSelectedFilter()">All</a></li>
                  </ul>
              </li>       
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="vm.query">
              </div>
            </form>
            <!-- sort by -->
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <div class="btn-group">
                  <button class="btn btn-xs btn-default" type="button" ng-click="vm.setSort('grade')"><span ng-class="vm.getSort('grade')"></span>Grade</button>
                  <button class="btn btn-xs btn-default" type="button" ng-click="vm.setSort('control.createDate')"><span ng-class="vm.getSort('control.createDate')"></span>Date</button>
                </div>
              </div>
            </form>
            <!-- graphs -->
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <div class="btn-group">
                  <button class="btn btn-xs btn-default glyphicon glyphicon-signal" type="button" ng-click="vm.graphs()"></button>
                </div>
              </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>     
    <div>
  </div>
</div>

<!-- graphs canvas - Row 1 -->
<div class="row canvas-area-1" ng-show="vm.displayGraphs">
    <!-- Graph - Total applications per grade -->
    <div class="col-md-6">
      <div ng-show="vm.graphTotalSetTypeBar">
        <canvas 
          id="bar"
          class="chart chart-bar"
          chart-data="vm.graphTotal.data"
          chart-labels="vm.graphTotal.labels"
          chart-series="vm.graphTotal.series"
          chart-options="vm.graphTotal.options">
        </canvas>
      </div>
      <div ng-show="vm.graphTotalSetTypeLine">
        <canvas 
          id="line"
          class="chart chart-line"
          chart-data="vm.graphTotal.data"
          chart-labels="vm.graphTotal.labels"
          chart-series="vm.graphTotal.series"
          chart-options="vm.graphTotal.options">
        </canvas>
      </div>
      <div class="btn-group chart-type-btn">
        <button class="btn btn-xs btn-default" type="button" ng-click="vm.graphTotalSetType('bar')">Bar</button>
        <button class="btn btn-xs btn-default" type="button" ng-click="vm.graphTotalSetType('line')">Line</button>
      </div>
    </div>
    <div class="col-md-0-6"></div>
    <!-- Graph - Total applications per skill's grade -->
    <div class="col-md-6">
      <div ng-show="vm.graphPerSkillSetTypeBar">
        <canvas
          id="bar"
          class="chart chart-bar"
          chart-data="vm.graphPerSkill.data"
          chart-labels="vm.graphPerSkill.labels"
          chart-series="vm.graphPerSkill.series"
          chart-options="vm.graphPerSkill.options">
        </canvas>
      </div>
      <div ng-show="vm.graphPerSkillSetTypeLine">
        <canvas
          id="line"
          class="chart chart-line"
          chart-data="vm.graphPerSkill.data"
          chart-labels="vm.graphPerSkill.labels"
          chart-series="vm.graphPerSkill.series"
          chart-options="vm.graphPerSkill.options">
        </canvas>
      </div>
      <div class="btn-group chart-type-btn">
        <button class="btn btn-xs btn-default" type="button" ng-click="vm.graphPerSkillSetType('bar')">Bar</button>
        <button class="btn btn-xs btn-default" type="button" ng-click="vm.graphPerSkillSetType('line')">Line</button>
      </div>
    </div>
</div>

<!-- graphs canvas - Row 2 -->
<div class="row canvas-area-2" ng-show="vm.displayGraphs">
    <!-- Graph - Total applications per grade -->
    <div class="col-md-6">
      <div ng-show="vm.graphResponsePerChallengeBar">
        <canvas
          id="bar"
          class="chart chart-bar"
          chart-data="vm.graphResponsePerChallenge.data"
          chart-labels="vm.graphResponsePerChallenge.labels"
          chart-series="vm.graphResponsePerChallenge.series"
          chart-options="vm.graphResponsePerChallenge.options">
        </canvas>
      </div>
      <div ng-show="vm.graphResponsePerChallengeLine">
        <canvas
          id="line"
          class="chart chart-line"
          chart-data="vm.graphResponsePerChallenge.data"
          chart-labels="vm.graphResponsePerChallenge.labels"
          chart-series="vm.graphResponsePerChallenge.series"
          chart-options="vm.graphResponsePerChallenge.options">
        </canvas>
      </div>
      <div class="btn-group chart-type-btn">
        <button class="btn btn-xs btn-default" type="button" ng-click="vm.graphResponsePerChallengeSetType('bar')">Bar</button>
        <button class="btn btn-xs btn-default" type="button" ng-click="vm.graphResponsePerChallengeSetType('line')">Line</button>
        <button class="btn btn-xs btn-default" type="button" ng-click="vm.viewAuditionResults()">View Audition</button>
      </div>
    </div>
    <div class="col-md-0-6"></div>
    <div class="col-md-6">
      <!-- additional graph - tbd -->
    </div>
</div>

<div class="row">
    <div class="panel-group col-md-12">
      <!-- Application summary header -->
      <div class="panel panel-default">
        <div class="row">
            <div class="col-md-1 appl-formating-left">
                <h5><strong>ID</strong></h5>
            </div>
            <div class="col-md-2 appl-formating-left">
                <h5><strong>Date</strong></h5>
            </div>
            <div class="col-md-1 appl-formating">
                <h5><strong>Grade</strong></h5>
            </div>
            <div class="col-md-2 appl-formating-left">
                <h5><strong>First Name</strong></h5>
            </div>
            <div class="col-md-2 appl-formating-left">
                <h5><strong>Last Name</strong></h5>
            </div>
            <div class="col-md-2 appl-formating-left">
                <h5><strong>Email</strong></h5>
            </div>
            <div class="col-md-1 appl-formating-left">
                <h5><strong>Phone</strong></h5>
            </div>
        </div>
      </div>
      <!-- Application summary line -->
      <div class="panel panel-default"  ng-repeat="application in vm.applications | filter:vm.search | orderBy: vm.orderBy">
          <div class="panel-heading application-record-line">
              <a class="panel-title collapsed"  data-toggle="collapse" data-parent="#panel-campaigns-group"
              ng-click="vm.calcAuditionResults(application)" href="#panel-element-{{$index}}"  aria-expanded="false">
                  <div class="row application-general" ng-class="application.revealed ? 'revealed-record' : 'application-record'">
                      <div class="col-md-1">
                          <h5>{{application.number}}</h5>
                      </div>
                      <div class="col-md-2">
                          <h5>{{application.control.createDate | date}}</h5>
                      </div>
                      <div class="col-md-1 appl-formating">
                          <h5>{{vm.round(application.grade)}}</h5>
                      </div>
                      <div class="col-md-2">
                          <h5>{{application.firstName}}</h5>
                      </div>
                      <div class="col-md-2">
                        <div ng-show="!application.revealed">
                          <h5>************</h5>
                        </div>
                        <div ng-show="application.revealed">
                          <h5>{{application.lastName}}</h5>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div ng-show="!application.revealed">
                          <h5>************</h5>
                        </div>
                        <div ng-show="application.revealed">
                          <h5>{{application.email}}</h5>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <div ng-show="!application.revealed">
                          <h5>************</h5>
                        </div>
                        <div ng-show="application.revealed">
                          <h5>{{application.phone}}</h5>
                        </div>
                      </div>
                      <div class="col-md-1" ng-hide="application.revealed">
                          <a class="btn btn-sm btn-primary reveal-btn" ng-click="vm.revealedApplicants(application)" ng-disabled="application.revealed">Reveal</a>
                      </div>
                  </div>
              </a>
          </div>
      <!-- Application summary expanded line -->
          <div id="panel-element-{{$index}}" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body" >
                  <div class="col-md-12">
                    <h6>
                        <!-- Audition results -->
                        <div class="row col-md-7">
                          <br>
                            <!-- Statistics summary table -->
                            <table id="gradetbl" class="table table-striped" cellspacing="0" width="100%">
                                  <col width="21%">
                                  <col width="15%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="12%">
                                  <col width="12%">
                                <thead>
                                    <tr>
                                        <th>Skill</th>
                                        <th>Importance</th>
                                        <th id="tooltip" data-toggle="tooltip" title="Total challenges defined for the skill">Total Challenges</th>
                                        <th id="tooltip" data-toggle="tooltip" title="Total challenges completed by talent">Completed Challenges</th>
                                        <th id="tooltip" data-toggle="tooltip" title="Maximume score per skill">Max Score</th>
                                        <th id="tooltip" data-toggle="tooltip" title="Talent score per skill">Talent Score</th>
                                        <th id="tooltip" data-toggle="tooltip" title="Talent score">Talent Score %</th>
                                        <th id="tooltip" data-toggle="tooltip" title="Applicants avarage score">Avg Score %</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr ng-repeat="results in application.auditionResults">
                                        <td>
                                          {{results.skill}}
                                        </td>
                                        <td ng-class="{'importance-nice' : results.importance === 'Nice to have',
                                                         'importance-low' : results.importance === 'Low',
                                                         'importance-normal' : results.importance === 'Normal',
                                                         'importance-high' : results.importance === 'High',
                                                         'importance-must' : results.importance === 'Must have'}">
                                            {{results.importance}}
                                        </td>
                                        <td>
                                            {{results.totalItems}}
                                        </td>
                                        <td>
                                            {{results.totalItemsAnswered}}
                                        </td>
                                        <td>
                                            {{vm.round(results.maxScore)}}
                                        </td>
                                        <td>
                                            {{vm.round(results.score)}}
                                        </td>
                                        <td ng-class="{'above-avg': (vm.round(results.score) >= vm.round(results.avgScore)), 'below-avg': (vm.round(results.score) < vm.round(results.avgScore))}">
                                            {{vm.round((results.score / results.maxScore) * 100)}}
                                        </td>
                                        <td>
                                            {{vm.round((results.avgScore / results.maxScore) * 100)}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          <!-- Audition preview -->
                          <div>
                              <a class="btn btn-sm btn-primary" ng-click="vm.viewAuditionResults(application)">View Audition</a>
                          </div>
                      </div>
                    </h6>
                    <div class="row col-md-1"></div>
                    <h5>
                      <!-- Questionnaire section -->
                      <div class = "col-md-4">
                            <div class="row" ng-if="application.goNoGo1.yes">
                                <br> {{vm.campaign.goNoGo1.text}} : <strong>{{application.goNoGo1.yes}}</strong>
                            </div>
                            <div class="row" ng-if="application.goNoGo1.no">
                                <br>{{vm.campaign.goNoGo1.text}} : <strong>{{application.goNoGo1.no}}</strong>
                            </div>
                            <div class="row" ng-if="vm.campaign.goNoGo1.text && !application.goNoGo1.yes && !application.goNoGo1.no">
                                <br>{{vm.campaign.goNoGo1.text}} : <strong>Not Answered</strong>
                            </div>
                            <div class="row" ng-if="application.goNoGo2.yes">
                              <br>  {{vm.campaign.goNoGo2.text}} : <strong>{{application.goNoGo2.yes}}</strong>
                            </div>
                            <div class="row" ng-if="application.goNoGo2.no">
                              <br>  {{vm.campaign.goNoGo2.text}} : <strong>{{application.goNoGo2.no}}</strong>
                            </div>
                            <div class="row" ng-if="vm.campaign.goNoGo2.text && !application.goNoGo2.yes && !application.goNoGo2.no">
                              <br>  {{vm.campaign.goNoGo2.text}} : <strong>Not Answered</strong>
                            </div>
                            <div class="row" ng-if="application.goNoGo4.yes">
                              <br>  Are you willing to work in {{application.goNoGo4Place}}? : <strong>{{application.goNoGo4.yes}}</strong>
                            </div>
                            <div class="row" ng-if="application.goNoGo4.no">
                              <br>  Are you willing to work in {{application.goNoGo4Place}}? : <strong>{{application.goNoGo4.no}}</strong>
                            </div>
                            <div class="row" ng-if="application.goNoGo4Place && !application.goNoGo4.yes && !application.goNoGo4.no">
                              <br>  Are you willing to work in {{application.goNoGo4Place}}? : <strong>Not Answered</strong>
                            </div>
                            <div class="row" ng-if="application.goNoGo3">
                              <br>  Salary Expectations : <strong>{{application.goNoGo3}} {{vm.campaign.salaryExpCurrency}}</strong>
                            </div>
                            <div class="row" ng-if="vm.campaign.goNoGo3.enabled && !application.goNoGo3">
                              <br>  Salary Expectations : <strong>Not Answered</strong>
                            </div>
                            <div class="row" ng-show="application.revealed">
                                <br>
                                <div ng-if="application.linkedInURL">
                                  LinkedIn Profile : <strong>{{application.linkedInURL}}</strong>
                                  <br>
                                </div>
                                <div ng-if="application.fileId">
                                    <br>
                                    <a href="{{vm.getCVLink(application.fileId).url()}}" download="{{vm.getCVLink(application.fileId).original.name}}" target="_blank"><strong>Download CV</strong></a>
                                </div>
                            </div>
                      </div>
                    </h5>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

</div>
<div class="col-md-0-6"></div>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>