
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Invite External Talents</h3>
</div>

<div class="modal-body" id="modal-body">
	<form class="form">
		<div class="row col-md-12">
			<div class="form-group col-md-6">
				<label class="required">Talents File</label>
				<input class="form-control" id="readfile" type="file" ng-click="vm.changeFile()" onchange="loadFile(event)"/>
			</div>
			<div class="form-group col-md-1">
				<br>
				<div id="tooltip">
					<a href="#" data-toggle="tooltip" data-placement="auto" title="File must have a header line consist of First Name, Last Name, and Email, in this order"><span class="glyphicon glyphicon-question-sign"></span></a>
				</div>
			</div>
<!-- 			<div id="tooltip-text" class="form-group col-md-4"><p>File must have a header line consist of First Name, Last Name, and Email, in this order</p>
			</div> -->
		</div>
	</form>
	<form class="form">
		<div class="row col-md-12">
			<div class="col-md-3">
				<button class="btn btn-info btn-sm" type="button" ng-click="vm.externalFileCheck()">Check</button>
				<button class="btn btn-default btn-sm" type="button" ng-click="vm.externalFileView()">View</button>
			</div>
			<div class="panel panel-info col-md-9" ng-if="vm.displayCheckMsg">
				<div class="panel-heading">{{vm.validTalentsCount}} talent(s) will receive the campaign's invitation<span class ng-show="vm.missingInfoCount > 0"> <br> {{vm.missingInfoCount}} talent record(s) found with incomplete/incorrect contact information</span></div>
			</div>
		</div>
	</form>
	<p><br></p>
	<form class="form">
	    <div class="col-md-12">
	    	<div class="col-md-3">
	    		<label class="required">Dispatch Channels</label>
	    	</div>
	    	<div class="col-md-9"></div>
	    </div>
	    <div class="col-md-12">
	        <div class="col-md-2">
	        	<input class="form-control" type="checkbox" ng-model="vm.dispatchEmail" checked="checked">
	            <label class="checkbox-inline"><strong>Email</strong></label>
	        </div>
	        <div class="col-md-2">
	            <input class="form-control" type="checkbox" ng-model="vm.dispatchSMS" disabled>
	            <label class="checkbox-inline"><strong>SMS</strong></label>
	        </div>
	        <div class="col-md-2">
	            <input class="form-control" type="checkbox" ng-model="vm.dispatchWhatsApp" disabled>
	            <label class="checkbox-inline"><strong>WhatsApp</strong></label>
	        </div>
	        <div class="col-md-2">
	            <input class="form-control" type="checkbox" ng-model="vm.dispatchLinkedIn" disabled>
	            <label class="checkbox-inline"><strong>LinkedIn</strong></label>
	        </div>
	        <div class="col-md-2">
	            <input class="form-control" type="checkbox" ng-model="vm.dispatchFacebook" disabled>
	            <label class="checkbox-inline"><strong>Facebook</strong></label>
	        </div>
	    </div>
	</form>
	<!-- View external talents file -->
	<form class="form" ng-show="vm.viewExternalTalents">
		<p><br></p>
		<div class="cust-table col-md-12">
		    <table class="table" cellspacing="0" width="100%">
			    <thead>
			        <tr>
			            <th>{{vm.headerFirstName}}</th>
			            <th>{{vm.headerLastName}}</th>
			            <th>{{vm.headerEmail}}</th>
			        </tr>
			    </thead>
			    <tbody >
			        <tr ng-repeat="talent in vm.externalTalents">
	 			        <td>{{talent[vm.headerFirstName]}}</td>
	 			        <td>{{talent[vm.headerLastName]}}</td>
	 			        <td>{{talent[vm.headerEmail]}}</td>
			        </tr>
			    </tbody>
			</table>
		</div>
		<div class="col-md-12">
			<p>Total Talents: {{vm.externalTalents.length}}</p>
		</div>
		<div class="row col-md-12">
			<button class="btn btn-warning btn-sm" type="button" ng-click="vm.closeExternalFileView()">Close</button>
		</div>
	</form>
	<!-- View dispatch history (log) -->
	<form class="form" ng-show="vm.displayActivityLog">
			<p><br></p>
		    <div class="cust-table col-md-12">
		        <table class="table" cellspacing="0" width="100%">
		            <thead>
		            <tr>
		                <th>Date</th>
		                <th>Activity</th>
		                <th>Description</th>
		            </tr>
		            </thead>
		            <tbody >
		            <tr ng-repeat="log in vm.activityLog | orderBy:'-date'">
 			            <td>{{log.date | date:'medium'}}</td>
		                <td>{{log.activity}}</td>
		                <td>{{log.text}}</td>
		            </tr>
		            </tbody>
		        </table>
		    </div>
		    <div class="row col-md-12">
		    	<button class="btn btn-warning btn-sm" type="button" ng-click="vm.closeActivityLog()">Close</button>
		    </div>
	</form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.dispatch()">Dispatch</button>
    <button class="btn btn-primary" type="button" ng-click="vm.activityLogSummary()">History</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Close</button>
</div>

<!-- <script>
$("#tooltip").hover(
   function(e){
       $("#tooltip-text").show();
   },
   function(e){
       $("#tooltip-text").hide();
  });​​​​​​​​​​
</script> -->

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script lang="javascript" src="js/xlsx.full.min.js"></script>
