iframe {
  border: none;
  overflow: hidden;
  margin-bottom : 20px;
}

.dose-not-executed {
  background: #4285f4;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 6px;
  border-radius: 999px;
  vertical-align: middle;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  position: relative;
  top: 5px;
}
.has-executed {
  background:#34A853;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 6px;
  border-radius: 999px;
  vertical-align: middle;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  position: relative;
  top: 5px;
}
.current-execute {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 6px;
  border-radius: 999px;
  vertical-align: middle;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  background:#ffd11a;
  color: #595959;
  position: relative;
  top: 5px;
}

.hold-items-scroll {
  text-align: center;
  overflow-y:hidden;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  max-width: 580px;
  height: 60px;
}
.intro-logo {
  width: 50px;
  margin: 15px 10px;
}
.disable-challenge {
  pointer-events:none;
}
.totals {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
}
.totalsCorrect {
  color: #006400;
  font-size: 12px;
  //font-weight: bold;
}
.totalsIncorrect {
  color: #8b0000;
  font-size: 12px;
  //font-weight: bold;
}
.totalsIgnored {
  font-size: 12px;
  //font-weight: bold;
}
.totals-area {
  background-color: #e6e6e6;
  border-radius: 5px;
  margin-left: -17px;
  text-align: center;
  padding: 15px 0 15px 0; 
}
.mark-area {
  background-color: #e6e6e6;
  border-radius: 5px;
  margin-left: -17px;
  text-align: center;
  margin-top: 181px;
  padding: 45px 0 45px 0; 
}
.correct-answer {
  color: #006400;
}
.wrong-answer {
  color: #8b0000;
}

