<!-- timeSelect.html -->
<!--suppress JSUnresolvedVariable, HtmlUnknownAttribute -->
<div class="timeSelect">
    <input
            type="number"
            class="form-control"
            ng-model="timeSelect.hours"
            ng-disabled="timeSelect.ngDisabled"
            ng-change="timeSelect.watchHoursMinutes()"
    >
    <span class="double-dot">:</span>
    <input
            type="number"
            class="form-control"
            ng-model="timeSelect.minutes"
            ng-disabled="timeSelect.ngDisabled"
            ng-change="timeSelect.watchHoursMinutes()"
    >
    <span class="double-dot">:</span>
    <input
            type="number"
            class="form-control"
            ng-model="timeSelect.seconds"
            ng-disabled="timeSelect.ngDisabled"
            ng-change="timeSelect.watchHoursMinutes()"
    >
</div>