<div class="row auditionEditItem" ng-if="editItem.ChallengeMainCtrl.subsciptionOk">
    <!-- Modal Header -->
    <div class="row modal-header">
        <h3 id="modal-title" ng-if="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')">View Challenge</h3>
        <h3 id="modal-title" ng-if="(auditionEditItem.auditionEditCtrl.editItem.status !== 'Assigned')">Add Challenge</h3>
        <h5>{{editItem.ChallengeMainCtrl.editTemplate.name}} Template</h5>
    </div>

    <!-- Modal Body -->
    <div class="modal-body" id="modal-body">
        <!-- Challenge Header Information -->
        <form class="form">
            <div class="col-md-0-6"></div>
            <div class="row col-md-11 challenge-header">
                <div class="form-group challenge-header-field">
                    <label for="" class="required">Skill</label>
                    <input
                        ng-if="(editItem.ChallengeMainCtrl.editItem.status !== 'Assigned')"
                        type="text"
                        ng-model="editItem.ChallengeMainCtrl.editItem.skill"
                        ng-change="editItem.ChallengeMainCtrl.saveEditItem()"
                        class="form-control">
                </div>
                <div class="form-group challenge-header-field">
                    <label for="" class="required">Complexity</label>
                    <select
                        ng-if="(editItem.ChallengeMainCtrl.editItem.status !== 'Assigned')"
                        ng-model="editItem.ChallengeMainCtrl.editItem.complexity"
                        class="form-control"
                        ng-change="editItem.ChallengeMainCtrl.saveEditItem()"
                        ng-options="complexity as complexity for complexity in editItem.ChallengeMainCtrl.complexityArray">
                        <!-- <option value=""></option> -->
                    </select>
                    <input
                        ng-if="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                        ng-model="editItem.ChallengeMainCtrl.editItem.complexity"
                        class="form-control"
                        ng-disabled="true">
                </div>
                <div class="form-group challenge-header-field">
                    <label>Score</label>
                    <input 
                        class="form-control"
                        type="number"
                        readonly>
                </div>
                <div class="form-group challenge-header-field">
                    <label class="required">Duration (hh:mm:ss)</label>
                    <time-select
                        ng-model="editItem.ChallengeMainCtrl.editItem"
                        property="itemDuration"
                        ng-change="editItem.ChallengeMainCtrl.saveEditItem"
                        ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')">
                    </time-select>
                </div>
            </div>
            <div class="col-md-0-6"></div>
        </form>
        <hr>
        <!-- Challenge Detail -->

        <form class="form">
            <div class="col-md-0-6"></div>
            <div class="row col-md-11">
                <div ng-repeat="(itemKey, itemValue) in editItem.ChallengeMainCtrl.editTemplate.dataStructure.structure">
                    <!-- Boolean -->
                    <div class="form-group" ng-if="editItem.ChallengeMainCtrl.isBoolean(itemValue)">
                        <lable>{{_.upperFirst(itemKey)}}</lable>
                        <input 
                            type="checkbox"
                            ng-attr-id="{{itemKey}}"
                            ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                            ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey]"
                            ng-change="editItem.ChallengeMainCtrl.saveEditItem()"/>
                    </div>
                    <!-- String (implemented as textarea) -->
                    <div class="form-group" ng-if="editItem.ChallengeMainCtrl.isString(itemValue)">
                        <lable><strong>{{_.upperFirst(itemKey)}}</strong></lable>
                        <textarea
                            class="form-control"
                            ng-attr-id="{{itemKey}}"
                            ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                            ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey]"
                            ng-change="editItem.ChallengeMainCtrl.saveEditItem()"></textarea>
                    </div>
                    <!-- Number -->
                    <div class="form-group" ng-if="editItem.ChallengeMainCtrl.isNumber(itemValue)">
                        <lable><strong>{{_.upperFirst(itemKey)}}</strong></lable>
                        <input
                            class="form-control"
                            ng-attr-id="{{itemKey}}"
                            ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                            type="number"
                            ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey]"
                            ng-change="editItem.ChallengeMainCtrl.saveEditItem()"/>
                    </div>
                    <!-- Array -->
                    <div ng-if="editItem.ChallengeMainCtrl.isArray(itemValue)">
                        <h5><strong>{{_.upperFirst(itemKey)}}</strong></h5>
                        <div class="form-group" ng-repeat="value in editItem.ChallengeMainCtrl.editItem.content[itemKey] track by $index">
                            <!-- <div class="form-group"> -->
                            <lable><strong>{{$index + 1}}</strong></lable>
                            <div ng-if="editItem.ChallengeMainCtrl.isBoolean(itemValue.toString())">
                                <input 
                                    type="checkbox"
                                    class="form-control"
                                    ng-attr-id="{{itemKey}}_{{$index}}"
                                    ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                                    ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey][$index]"
                                    ng-change="editItem.ChallengeMainCtrl.saveEditItem()"/>
                                <!-- <div class="remove btn btn-default"
                                    ng-if="($index === auditionEditItem.auditionEditCtrl.editItem.content[itemKey].length-1) && (auditionEditItem.auditionEditCtrl.audition.status !== auditionEditItem.auditionEditCtrl.ENUM.AUDITION_STATUS.AVAILABLE)"
                                    ng-click="auditionEditItem.auditionEditCtrl.removeFromContentArray(itemKey)">Remove
                                </div> -->
                            </div>
                            <div ng-if="editItem.ChallengeMainCtrl.isString(itemValue.toString())">
                                <textarea
                                    class="form-control"
                                    ng-attr-id="{{itemKey}}_{{$index}}"
                                    ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                                    ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey][$index]"
                                    ng-change="editItem.ChallengeMainCtrl.saveEditItem()"></textarea>
                                <!-- <div class="remove-btn btn btn-info btn-sm"
                                    ng-if="($index === auditionEditItem.auditionEditCtrl.editItem.content[itemKey].length-1) && (auditionEditItem.auditionEditCtrl.audition.status !== auditionEditItem.auditionEditCtrl.ENUM.AUDITION_STATUS.AVAILABLE)"
                                    ng-click="auditionEditItem.auditionEditCtrl.removeFromContentArray(itemKey)">Remove
                                </div> -->
                            </div>
                            <div ng-if="editItem.ChallengeMainCtrl.isNumber(itemValue.toString())">
                                <input
                                    class="form-control"
                                    ng-attr-id="{{itemKey}}_{{$index}}"
                                    ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                                    type="number"
                                    ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey][$index]"
                                    ng-change="editItem.ChallengeMainCtrl.saveEditItem()"/>
                                <!-- <div class="remove btn btn-default"
                                    ng-if="($index === auditionEditItem.auditionEditCtrl.editItem.content[itemKey].length-1) && (auditionEditItem.auditionEditCtrl.audition.status !== auditionEditItem.auditionEditCtrl.ENUM.AUDITION_STATUS.AVAILABLE)"
                                    ng-click="auditionEditItem.auditionEditCtrl.removeFromContentArray(itemKey)">Remove
                                </div> -->
                            <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Array Item action buttons -->
                    <div ng-if="editItem.ChallengeMainCtrl.isArray(itemValue)">
                        <button class="btn btn-info btn-sm" ng-click="editItem.ChallengeMainCtrl.addToContentArray(itemKey)" ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')">Add</button>
                        <button class="btn btn-sm" ng-click="editItem.ChallengeMainCtrl.removeFromContentArray(itemKey)" ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')">Remove</button>
                    </div>
                    <!-- Object -->
                    <div ng-if="editItem.ChallengeMainCtrl.isObject(itemValue)" class="is-object">
                        <div ng-repeat="(itemObjectKey, itemObjectValue) in itemValue">
                            <div ng-if="editItem.ChallengeMainCtrl.isBoolean(itemObjectValue)" class="object-checkbox">
                                <div class="form-group">
                                    <lable>{{_.upperFirst(itemObjectKey)}}</lable>
                                    <input 
                                        type="checkbox"
                                        class="form-control"
                                        ng-attr-id="{{itemObjectKey}}"
                                        ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                                        ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey][itemObjectKey]"
                                        ng-change="editItem.ChallengeMainCtrl.saveEditItem()"/>
                                </div>
                            </div>
                            <div ng-if="editItem.ChallengeMainCtrl.isString(itemObjectValue)" class="object-textarea">
                                <div class="form-group">
                                    <lable><strong>{{_.upperFirst(itemObjectKey)}}</strong></lable>
                                    <textarea
                                        class="form-control"
                                        ng-attr-id="{{itemObjectKey}}"
                                        ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                                        ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey][itemObjectKey]"
                                        ng-change="editItem.ChallengeMainCtrl.saveEditItem()"></textarea>
                                </div>
                            </div>
                            <div ng-if="editItem.ChallengeMainCtrl.isNumber(itemObjectValue)" class="object-number">
                                <div class="form-group">
                                    <lable><strong>{{_.upperFirst(itemObjectKey)}}</strong></lable>
                                    <input
                                        class="form-control"
                                        ng-attr-id="{{itemObjectKey}}"
                                        ng-disabled="(editItem.ChallengeMainCtrl.editItem.status === 'Assigned')"
                                        type="number"
                                        ng-model="editItem.ChallengeMainCtrl.editItem.content[itemKey][itemObjectKey]"
                                        ng-change="editItem.ChallengeMainCtrl.saveEditItem()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-0-6"></div>
        </form>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer" ng-if="(editItem.ChallengeMainCtrl.editItem.status === 'In Work') || (editItem.ChallengeMainCtrl.editItem.status === 'New')">
        <button class="btn btn-primary" type="button" ng-click="editItem.ChallengeMainCtrl.cancelEditItem()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="editItem.ChallengeMainCtrl.registerEditItem()">Save</button>
    </div>
    <div class="modal-footer" ng-if="(editItem.ChallengeMainCtrl.editItem.status !== 'In Work') && (editItem.ChallengeMainCtrl.editItem.status !== 'New')">
        <button class="btn btn-primary" type="button" ng-click="editItem.ChallengeMainCtrl.closeEditItem()">Close</button>
    </div>
</div>