<!--talentMain.html-->
<!--suppress HtmlUnknownTarget -->
<div class="row">
    <div class="col-md-0-6"></div>
    <div class="col-md-11">


<div class="row">
    <div class="col-md-12">
      <ul class="navbar-nav nav-header-menu">
          <li class="nav-item marketplace-menu">
              <a class="nav-link marketplace-menu-item" ui-sref="mainChallenges"><mark>My Challenges</mark></a>
              <a class="nav-link marketplace-menu-item" ui-sref="#">My Auditions</a>
              <a class="nav-link marketplace-menu-item" ui-sref="#">My Proposals</a>
              <a class="nav-link marketplace-menu-item" ui-sref="#">Dashboard</a>
              <a class="nav-link marketplace-menu-item" ui-sref="#">My Account</a>
          </li>
      </ul>
    </div>
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a ng-if="vm.selectedStatus" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span ng-class="vm.MAP.CAMPAIGN_STATUS[vm.selectedStatus]">&nbsp;</span>{{vm.statusFilter(vm.ENUM.CAMPAIGN_STATUS[vm.selectedStatus])}} <b class="caret"></b></a>
                        <a ng-if="!vm.selectedStatus" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">All <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="vm.changeSelectedStatus()">All ...</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="(key, status) in vm.ENUM.ITEM_STATUS">
                                <a ng-click="vm.changeSelectedStatus(key)"><span ng-class="vm.MAP.ITEM_STATUS[key]">&nbsp;</span>{{vm.statusFilter(status)}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="vm.query">
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-default" type="button" ng-click="vm.setViewThumbnails()"><span class="glyphicon glyphicon-th"></span> Thumbnail view</button>
                            <button class="btn btn-default" type="button" ng-click="vm.setViewList()"><span class="glyphicon glyphicon-th-list"></span> List view</button>
                        </div>
                    </div>
                </form>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        Sort by:
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-default" type="button" ng-click="vm.setSort('positionName')">
                                <span ng-class="vm.getSort('positionName')"></span>
                                Name
                            </button>
                            <button class="btn btn-default" type="button" ng-click="vm.setSort('control.createDate')">
                                <span ng-class="vm.getSort('control.createDate')"></span>
                                Date
                            </button>
                        </div>
                    </div>
                </form>
                <form ng-show="vm.accessMode !== 'Application'" class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" ui-sref="talentCreateChallenge">Create New Challenge</button>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
</div>

<div class="row" ng-show="vm.isViewThumbnails">
    <div class="col-md-3" ng-repeat="item in vm.items | filter:vm.search | orderBy: vm.orderBy">
        <div class="thumbnail">
            
            <div class="big-status">{{item.skill}}&nbsp;</div>
            <div class="row">
              <div class="col-md-6">

                      <div>  
                        <h3 class="job-positionName" ng-if="item.status === vm.ENUM.ITEM_STATUS.ASSIGNED"><span ng-class="vm.MAP.ITEM_STATUS.ASSIGNED">&nbsp;</span>{{item.status}}</h3>
                        <h3 class="job-positionName" ng-if="item.status === vm.ENUM.ITEM_STATUS.IN_WORK"><span ng-class="vm.MAP.ITEM_STATUS.IN_WORK">&nbsp;</span>{{item.status}}</h3>
                        <h3 class="job-positionName" ng-if="item.status === vm.ENUM.ITEM_STATUS.NEW"><span ng-class="vm.MAP.ITEM_STATUS.NEW">&nbsp;</span>{{item.status}}</h3>
                      </div>
              </div>
              <div class="col-md-6">
                <h3 class="job-positionName date-right">{{item.statusDate | date}}</h3>
              </div>
            </div>
                <!-- <h3 class="job-positionName">{{campaign.positionName}}</h3> -->
                <p class="job-description">TBD&nbsp;</p>
                <!-- <status-bar ng-model="campaign"></status-bar> -->
                <p>

                    <a ng-if="item.status !== vm.ENUM.CAMPAIGN_STATUS.DELETE" class="btn btn-primary btn-sm" ng-show="vm.accessMode !== 'Application'" ui-sref="recruiter.recruiterDemand({id:campaign._id})"><span ng-class="vm.MAP.BUTTONS.EDIT">&nbsp;</span>Edit</a>
                    <a ng-if="campaign.status === vm.ENUM.CAMPAIGN_STATUS.DELETE" class="btn btn-primary btn-sm" disabled><span ng-class="vm.MAP.BUTTONS.SAVE">&nbsp;</span>Edit</a>
                    <a ng-if="campaign.applicationsCount" class="btn btn-primary btn-sm" ui-sref="recruiter.application({id:campaign._id})"><span ng-class="vm.MAP.BUTTONS.APPLICATION">&nbsp;</span>Application</a>
                    <a ng-if="(campaign.status !== vm.ENUM.CAMPAIGN_STATUS.DELETE)
                                && (campaign.status !== vm.ENUM.CAMPAIGN_STATUS.DISPATCHED)
                                && (campaign.status !== vm.ENUM.CAMPAIGN_STATUS.TERMINATED)" class="btn btn-primary btn-sm" ng-click="vm.deleteCampaign(campaign)"><span ng-class="vm.MAP.BUTTONS.DELETE">&nbsp;</span>Delete</a>
                    <a ng-if="campaign.status === vm.ENUM.CAMPAIGN_STATUS.DELETE" class="btn btn-primary btn-sm" ng-click="vm.undeleteCampaign(campaign)" ><span ng-class="vm.MAP.BUTTONS.UNDELETE">&nbsp;</span>Undelete</a>
                    <!-- todo:  remove - TEMPRARY ADDITION FOR TESTING CAMPAIGN APPLICATION -->
                    <!-- <a ng-if="campaign.status === vm.ENUM.CAMPAIGN_STATUS.DISPATCHED" class="btn btn-primary" ui-sref="campaignApply({id:campaign._id})" ><span >&nbsp;</span>Run</a> -->
                </p>
        </div>
    </div>
</div>


<div class="row" ng-hide="vm.isViewThumbnails">
    <div class="panel-group col-md-12">

            <div class="panel panel-default" ng-repeat="item in vm.items | filter:vm.search | orderBy: vm.orderBy">
                    <div>
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-campaigns-group" href="#panel-element-{{$index}}"  aria-expanded="false">
                            <div class="row">
                                <div class="col-md-1">
                                    <h5>{{item.skill}}</h5>
                                </div>
                                <div class="col-md-1">
                                    <h5>{{item.status}}</h5>
                                </div>
                                <div class="col-md-2">
                                  <h5>{{item.statusDate | date}}</h5>
                                </div>
                                <div class="col-md-2">
                                    <h5>{{item.shareInd}}</h5>
                                </div>
                                <div class="col-md-2">
                                    <h5>{{item.complexity}}</h5>
                                </div>
                                
                                <div class="col-md-2">
                                    <p><a class="btn btn-primary btn-sm" ng-show="vm.accessMode !== 'Application'" ui-sref="recruiter.recruiterDemand({id:campaign._id})">Edit</a>
                                      <a class="btn btn-primary btn-sm" ng-if="(campaign.status !== vm.ENUM.CAMPAIGN_STATUS.DELETE)
                                      && (campaign.status !== vm.ENUM.CAMPAIGN_STATUS.DISPATCHED)
                                      && (campaign.status !== vm.ENUM.CAMPAIGN_STATUS.TERMINATED)" ng-click="vm.deleteCampaign(campaign)">Delete</a></p>
                                </div>
        
                            </div>
                        </a>
                    </div>
                    <div id="panel-element-{{$index}}" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body" >
                          <div class="col-md-12">
                              <p>{{campaign.description}}</p>
                          </div>
                        </div>
                    </div>
                </div>

    </div>
</div>
    </div>
    <div class="col-md-0-6"></div>
</div>
