<!--campaignMain.html-->
<!--suppress HtmlUnknownTarget -->
<div class="row">
    <div class="col-md-0-6"></div>
    <div class="col-md-11">
            <div class="row" ng-show="vm.doSubscription()">
                <div class="col-md-12">
                    <ul class="navbar-nav nav-header-menu">
                            <li class="nav-item marketplace-menu">
                                    <a class="nav-link marketplace-menu-item" ui-sref="mainChallenges"><mark>My Challenges</mark></a>
                                    <a class="nav-link marketplace-menu-item" ui-sref="#">My Auditions</a>
                                    <a class="nav-link marketplace-menu-item" ui-sref="#">My Proposals</a>
                                    <a class="nav-link marketplace-menu-item" ui-sref="#">Dashboard</a>
                                    <a class="nav-link marketplace-menu-item" ui-sref="#">My Account</a>
                            </li>
                    </ul>
                </div>
                      
                <div class="col-md-12" ng-hide="vm.createChallengeInd">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a ng-if="vm.selectedStatus" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span ng-class="vm.MAP.ITEM_STATUS[vm.selectedStatus]">&nbsp;</span>{{vm.statusFilter(vm.ENUM.ITEM_STATUS[vm.selectedStatus])}} <b class="caret"></b></a>
                                    <a ng-if="!vm.selectedStatus" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">All <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="vm.changeSelectedStatus()">All...</a></li>
                                        <li class="divider"></li>
                                        <li ng-repeat="(key, status) in vm.ENUM.ITEM_STATUS">
                                            <a ng-click="vm.changeSelectedStatus(key)"><span ng-class="vm.MAP.ITEM_STATUS[key]">&nbsp;</span>{{vm.statusFilter(status)}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search" ng-model="vm.query">&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" ng-click="vm.setViewThumbnails()"><span class="glyphicon glyphicon-th"></span> Thumbnail</button>
                                        <button class="btn btn-xs btn-default" type="button" ng-click="vm.setViewList()"><span class="glyphicon glyphicon-th-list"></span> List</button>&nbsp;&nbsp;
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" ng-click="vm.setSort('skill')">
                                            <span ng-class="vm.getSort('skill')"></span>
                                            Skill
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" ng-click="vm.setSort('control.createDate')">
                                            <span ng-class="vm.getSort('control.createDate')"></span>
                                            Date
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" ng-click="vm.setSort('status')">
                                            <span ng-class="vm.getSort('status')"></span>
                                            Status
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <button class="btn btn-sm btn-primary" type="button" ng-click ="vm.setCreateChallenge()">New Challenge</button>
                                     <!-- <button class="btn btn-sm btn-primary" type="button" ui-sref = "talentCreateChallenge">New Challenge</button> -->
                                </div>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>

            <div class = "row" ng-show="vm.createChallengeInd">
                    <div class = "col-md-3">
                        <ul>
                            <li
                                ng-click="vm.setSelected(challengesType)"
                                ng-repeat="(key, challengesType) in vm.challengesTypes"
                                ng-class="challengesType.selected ? 'selected':''">{{key}}</li>
                        </ul>
                    </div>
                
                    <div class="col-md-7">
                            <div class="templateItem" ng-repeat="template in vm.templates">
                                <h4>{{template.name}}</h4>
                                <div class="wrapIfram templateIframeZoom" ng-bind-html="trust(vm.getAuditionHtml($index, template._id))"></div>
                                <button class="btn btn-primary" ng-click="vm.createNewItem(template._id)">Add</button>
                            </div>
                    </div>

                    <div class="col-md-2">
                        <p><a class="btn btn-primary btn-sm" ng-click="vm.cancelNewChallenge()">Cancel</a></p>
                    </div>
                
                </div>

            <div class="row" ng-show="vm.isViewThumbnails" ng-hide="vm.createChallengeInd">
                <div class="col-md-3" ng-repeat="item in vm.items | filter:vm.search | orderBy: vm.orderBy">
                    <div class="thumbnail">
                        
                        <div class="row">
                            <div class="col-md-6 camaign-number">
                                {{item.complexity}}
                            </div>
                            <div class="col-md-6 item-time">
                                <span>{{item.itemDuration | date:"HH:mm:ss" : 'UTC'}}</span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="job-positionName">
                                {{item.skill}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="big-status" ng-if="item.status === vm.ENUM.ITEM_STATUS.TERMINATED">{{item.status}}&nbsp;&nbsp;<span ng-class="vm.MAP.ITEM_STATUS.TERMINATED"></span>&nbsp;&nbsp;&nbsp;{{item.statusDate | date}}</h4>
                                <h4 class="big-status" ng-if="item.status === vm.ENUM.ITEM_STATUS.IN_WORK">{{item.status}}&nbsp;&nbsp;<span ng-class="vm.MAP.ITEM_STATUS.IN_WORK"></span>&nbsp;&nbsp;&nbsp;{{item.statusDate | date}}</h4>
                                <h4 class="big-status" ng-if="item.status === vm.ENUM.ITEM_STATUS.ASSIGNED">{{item.status}}&nbsp;&nbsp;<span ng-class="vm.MAP.ITEM_STATUS.ASSIGNED"></span>&nbsp;&nbsp;&nbsp;{{item.statusDate | date}}</h4>
                                <h4 class="big-status" ng-if="item.status === vm.ENUM.ITEM_STATUS.AVAILABLE">{{item.status}}&nbsp;&nbsp;<span ng-class="vm.MAP.ITEM_STATUS.AVAILABLE"></span>&nbsp;&nbsp;&nbsp;{{item.statusDate | date}}</h4>
                                <h4 class="big-status" ng-if="item.status === vm.ENUM.ITEM_STATUS.NEW">{{item.status}}&nbsp;&nbsp;<span ng-class="vm.MAP.ITEM_STATUS.NEW"></span>&nbsp;&nbsp;&nbsp;{{item.statusDate | date}}</h4>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <p class="job-description">{{item.description}}&nbsp;</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <a ng-if="item.status === vm.ENUM.ITEM_STATUS.IN_WORK" class="btn btn-primary btn-sm" ng-click="vm.openEditItem(item._id)">Detail</a>
                                    <a ng-if="item.status !== vm.ENUM.ITEM_STATUS.IN_WORK" class="btn btn-primary btn-sm" disabled>Detail</a>
                                    <a ng-if="(campaign.status !== vm.ENUM.CAMPAIGN_STATUS.DELETE)
                                                && (campaign.status !== vm.ENUM.CAMPAIGN_STATUS.DISPATCHED)
                                                && (campaign.status !== vm.ENUM.CAMPAIGN_STATUS.TERMINATED)" class="btn btn-primary btn-sm" ng-click="vm.deleteCampaign(campaign)">Delete</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="vm.isViewThumbnails || vm.createChallengeInd">
                <div class="panel-group col-md-12">
                    <div class="panel panel-default" ng-repeat="item in vm.items | filter:vm.search | orderBy: vm.orderBy">
                        <div>
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-campaigns-group" href="#panel-element-{{$index}}"  aria-expanded="false">
                                <div class="row">
                                    <div class="col-md-1">
                                        <h5>{{item.skill}}</h5>
                                    </div>
                                    <div class="col-md-1">
                                        <h5>{{item.complexity}}</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <h5>{{item.itemDuration | date:"HH:mm:ss" : 'UTC'}}</h5>
                                    </div>
                                    <div class="col-md-1">
                                        <h5>{{item.status}}</h5>
                                    </div>
                                    <div class="col-md-2">
                                      <h5>{{item.statusDate | date}}</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <p><a ng-if="item.status === vm.ENUM.ITEM_STATUS.IN_WORK" class="btn btn-primary btn-sm" ng-click="alert('BLA')">Edit</a>
                                          <a class="btn btn-primary btn-sm" ng-if="(campaign.status !== vm.ENUM.CAMPAIGN_STATUS.DELETE)
                                          && (campaign.status !== vm.ENUM.CAMPAIGN_STATUS.DISPATCHED)
                                          && (campaign.status !== vm.ENUM.CAMPAIGN_STATUS.TERMINATED)" ng-click="vm.deleteCampaign(campaign)">Delete</a></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div id="panel-element-{{$index}}" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body" >
                              <div class="col-md-12">
                                  <p>{{campaign.description}}</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-0-6"></div>
</div>